* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* MAIN FONT */
/* "Maven Pro", sans-serif; */
@font-face {
  font-family: Blade;
  src: url(Fonts/BladeRunnerMovieFont-4nx9.ttf);
}

body {
  width: 100%;
  height: 100%;
  font-family: "Maven Pro", sans-serif;
}

.wrapper {
  color: #f1b61c;
  background-image: url(images\ &\ svgs/CalderaBackGroundSVG.svg);
  height: 100%;
  width: 100%;
  background-size: 100vh;
  /* % will make it stretch although looks better on small screens*/
  /* background-color: #020914; */
  /* background-repeat:no-repeat; */
  /* background-image: url(/images\ &\ svgs/CalderaBackGroundSeven.jpg); */
}

/* Flex */
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.con-space {
  margin: 3rem 0;
}

/* NAV */
.nav-bar {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 4rem 0;
  padding: 0 2rem;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #f1b61c;
  margin: 0 1.2rem;
}

/* Header section */

.head-section {
  color: rgb(199, 186, 186);
  margin: 2rem 0rem;
  letter-spacing: 4px;
}

.main-head {
  font-size: 4rem;
  letter-spacing: 5px;
}

.map-name {
  font-size: 3rem;
  padding: 2.5rem 0 0;
  letter-spacing: 10px;
  color: #f1b61c;
}

/* MAP */

.map-img {
  height: 100%;
  width: 100%;
  transition: ease-in-out 1.5s;
  border: solid 5px;
  filter: brightness(55%);
}

/* Toggled on and off */
.map-img-opa,
.nav-img-opa {
  opacity: 0.5;
}
.map-shade,
.nav-img-shade {
  background-color: rgb(22, 22, 22);
  filter: blur(2px);
}
/*********/

/* MAP-OPTIONS-CARD-FLIP */
.flip-card {
  height: 55rem;
  width: 55rem;
  perspective: 1000px;
  margin: 2rem 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateX(0deg);
  transition: ease-in-out 1.5s;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/******/

/* OPTIONS PAGE */
.custom-options {
  height: 100%;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.9);
}

.options-top,
.options-bottom {
  height: 50%;
}

.options-container {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.options-header {
  text-align: center;
  margin: 0.5rem 0 2rem;
  color: #eee;
  font-size: 2rem;
}

/****/
/* DROP CHECKBOXES */
.checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16rem);
  justify-content: center;
  height: 450px;
  width: 50rem;
  color: #eee;
  overflow-x: hidden;
}

#checkbox-container::-webkit-scrollbar {
  width: 16px;
}

#checkbox-container::-webkit-scrollbar-track {
  background-color: rgb(116, 116, 116);
  border-radius: 100px;
}

#checkbox-container::-webkit-scrollbar-thumb {
  background-color: #f1b61c;
  border-radius: 100px;
}

.check-container {
  display: block;
  position: relative;
  padding-top: 6px;
  padding-left: 50px;
  margin: 5px;
  width: 250px;
  height: 2rem;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background-color: #eee;
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background-color: #f1b61c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

/************/

/* MAIN */
.drop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-family: blade;
  font-size: 6.5rem;
  font-weight: 800;
  outline: 2px solid #f1b61c;
  outline-offset: 0.5rem;
  transition: ease-in-out 1.5s;
  overflow: hidden;
}

.drop-text {
  width: 55rem;
  text-align: center;
}

.dropHide {
  opacity: 0;
}

/* Slider */
input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
  background-color: gray;
  border-radius: 30px;
}
/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 1.5px;
  left: 1px;
  transition: all 0.5s;
}
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 2.5rem;
}
.checkbox:checked + .toggle {
  background-color: #f1b61c;
}
.checkbox {
  display: none;
}

/* Toggle Container & Label */
.toggles {
  grid-area: tog;
  display: flex;
  margin: 1.5rem;
  justify-content: space-evenly;
}

.toggle-label {
  position: relative;
  bottom: 6.5px;
  left: 7px;
}

/*******/
/* Options bottom half */

.options-bottom {
  width: 100%;
  height: 300px;
  position: relative;
  top: 7.5rem;
  display: grid;
  grid-template-areas:
    "head head head"
    "tOne . tTwo"
    "b1 icon b2";
}

.custom-heading {
  grid-area: head;
  position: relative;
  top: 2rem;
  text-align: center;
  align-self: flex-end;
  color: #eee;
  font-size: 2rem;
}

.input-tainer-one {
  grid-area: tOne;
  align-self: flex-end;
}

.input-tainer-two {
  grid-area: tTwo;
  align-self: flex-end;
}

.option-buttons {
  grid-area: b1;
  justify-self: center;
  cursor: pointer;
  height: 3rem;
  width: 7.5rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  color: #f1b61c;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #f1b61c;
  display: inline-block;
  transition: all 0.4s ease 0s;
  justify-self: end;
}

.option-buttons:hover {
  color: black !important;
  background: #f1b61c;
  border-color: #f1b61c !important;
  transition: all 0.4s ease 0s;
}

.opt-butt-two {
  grid-area: b2;
  justify-self: flex-start;
}

.comfirmed-icon,
.no_input-text {
  grid-area: icon;
  position: relative;
  justify-self: center;
}

.comfirmed-icon {
  color: green;
  top: 1rem;
  opacity: 0;
}

.no_input-text {
  text-align: center;
  color: #f1f1f1;
  top: 2rem;
  align-self: center;
  opacity: 0;
}

/* ** */
/* CUSTOM DROP INPUTS */

.form-tainer {
  width: 225px;
  height: 160px;
}

.form-tainer .input-form {
  height: 30px;
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

.form-tainer .input-form input {
  opacity: 1;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #eee;
}

.input-form input:focus ~ label,
.input-form input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #f1b61c;
}

.form-tainer .input-form label {
  position: absolute;
  bottom: 6px;
  left: 1px;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-tainer .input-form .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.input-form .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f1b61c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-form input:focus ~ .underline:before,
.input-form input:valid ~ .underline:before {
  transform: scaleX(1);
}
/**********/

/* BUTTONS */
.buttons {
  margin: 2rem 0;
}

.butt-styles {
  margin: 1.75rem 0;
  font-size: 1.25rem;
  cursor: pointer;
  height: 6rem;
  width: 16rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  color: #f1b61c;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #f1b61c;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.butt-styles:hover {
  color: black !important;
  background: #f1b61c;
  border-color: #f1b61c !important;
  transition: all 0.4s ease 0s;
}

/* ******** */

/* INFO BOXES */
.info-section {
  display: grid;
  grid-template-areas:
    "b1  ."
    ".  b2"
    "b3  .";
  color: rgb(199, 186, 186);
}

/* BOX ICONS */
.icons {
  position: relative;
  bottom: 1em;
  width: 100%;
  color: #f1b61c;
}

/* BOXES */
.box {
  background-color: rgba(31, 31, 31, 0.9);
  margin: 2rem auto;
  padding: 1rem;
  height: 18.5rem;
  width: 26rem;
  text-align: left;
  border-radius: 20px;
}

.box h4 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

#box-one {
  grid-area: b1;
}
#box-two {
  grid-area: b2;
}
#box-three {
  grid-area: b3;
}

/* INFO TEXT */

.info-text {
  margin: 1rem 0;
  font-size: 1.1rem;
}
/* #feat-head{
  margin-bottom: 1rem;
} */
.feat-top-p {
  margin: 0;
}
.feat-bott-p {
  margin-bottom: 1rem;
}
#feat-icon {
  bottom: 1rem;
}
/**************/
.foot {
  padding: 2rem 0;
  height: 8vh;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.25);
}
.foot p{
  font-size: 14px;
  text-align: center;
}
/**************/
/* ************Burger*********/
.mobile-nav {
  text-align: center;
  display: none;
  padding-top: 3%;
  position: relative;
  height: 4rem;
  z-index: 1;
}
#nav-svg {
  height: 3.5rem;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 9px;
  right: 2px;
  z-index: 2;
}
.hamburger .bar {
  padding: 0;
  width: 32px;
  height: 3px;
  background-color: white;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}
.bar1 {
  top: 0;
}
.bar2,
.bar3 {
  top: 13.5px;
}
.bar4 {
  bottom: 0;
}
/***********Animation for burger********/
.hamburger1 .bar1 {
  transform-origin: 15%;
}
.hamburger1 .bar4 {
  transform-origin: 15%;
}
.checkbox1:checked + label > .hamburger1 > .bar1 {
  transform: rotate(55deg);
  height: 3px;
  width: 46px;
}
.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform: rotate(-55deg);
  height: 3px;
  width: 46px;
}
/*****************/

/* Side Menu */
.close-side {
  width: 28px;
  position: absolute;
  top: 6px;
  right: 6px;
  display: none;
}

.sidenav {
  height: 100vh;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(17, 16, 15);
  overflow-x: hidden;
  transition: 0.5s;
}

.side-width {
  width: 185px;
}
/* Try shade */
.side-shade {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
}

.sidenav a,
.sidenav p {
  padding: 30px 8px 8px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  border-bottom: 2px solid #f1b61c;
  margin: 1.5rem 0;
}

.sidenav p {
  padding-bottom: 2rem;
  font-size: 22px;
}

.sidenav a:hover {
  color: #f1b61c;
}

.side-logo {
  text-align: center;
  letter-spacing: 2px;
}

.side-span {
  color: #f1b61c;
  font-size: 22px;
}

/******/

/* DROP TEXT STYLE AND SIZE */
#text {
  color: #f1b61c;
  mix-blend-mode: screen;
  position: absolute;
  -webkit-animation: skew 2s infinite, flash 0.04s infinite;
  -moz-animation: skew 2s infinite, flash 0.04s infinite;
  -o-animation: skew 2s infinite, flash 0.04s infinite;
  animation: skew 2s infinite, flash 0.04s infinite;
  opacity: 0.8;
  width: 100%;
}
#text:after,
#text:before {
  content: attr(data-text);
  position: absolute;
  mix-blend-mode: screen;
}
#text:after {
  top: 0;
  left: 6px;
  color: #f1b61c;
  -webkit-animation: move 1.5s infinite;
  -moz-animation: move 1.5s infinite;
  -o-animation: move 1.5s infinite;
  animation: move 1.5s infinite;
  width: 100%;
}
#text:before {
  top: -2.4px;
  left: 3.6px;
  color: limegreen;
  width: 100%;
}
/*******/

/******MEDIA QUERIES*******/

/*****SMALL TABLETS & MOBILES*******/
@media screen and (max-width: 425px) {
  .box {
    width: 90vw;
    height: 22rem;
  }
  #checkbox-container {
    height: 245px;
    /* margin: 0rem auto 0; */
    position: relative;
    bottom: 1rem;
    width: 16rem;
  }
  #text {
    font-size: 2.5rem;
  }
  .close-side {
    display: block;
  }
  .mobile-nav {
    z-index: 0;
  }
}

@media screen and (min-width: 460px) {
  .hamburger {
    bottom: 12px;
  }
}

@media screen and (max-width: 575px) {
  .nav-bar {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .main-head {
    width: 250px;
    text-align: center;
  }
  .options-bottom {
    grid-template-areas:
      "head"
      "tOne"
      "tTwo"
      "b1"
      "b2"
      "icon";
  }
  .options-header {
    margin: 0.5rem 0;
  }
  .custom-heading {
    padding-bottom: 2rem;
    top: 0rem;
  }
  .input-tainer-one,
  .input-tainer-two {
    height: 80px;
    padding-bottom: 4rem;
  }
  .option-buttons {
    position: relative;
    bottom: 0.75rem;
  }
  .option-buttons,
  .opt-butt-two {
    justify-self: center;
  }
  .comfirmed-icon {
    top: 0;
  }
  .no_input-text {
    top: 0;
  }
}

@media screen and (min-width: 575px) {
  .sidenav {
    width: 0;
  }
}

@media screen and (max-width: 650px) {
  #dropContainer {
    font-size: 3rem;
  }
}
/* Tablet size */
@media screen and (max-width: 925px) {
  .main-head {
    font-size: 2.75rem;
  }
  .map-name,
  .glitch {
    font-size: 2rem;
  }
  .flip-card {
    width: 90%;
    height: 55rem;
  }
  .drop {
    font-size: 4.5rem;
    font-weight: 500;
  }
  .toggles {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
  }
  .togg {
    width: 15rem;
    text-align: left;
    margin: 0.5rem 0;
  }
  .options-container {
    padding-bottom: 0;
  }
  .options-top {
    width: 100%;
  }
  .options-header {
    font-size: 1.5rem;
  }
  .checkboxes {
    width: 18rem;
    height: 250px;
    margin: 1.5rem auto;
    overflow: scroll;
    overflow-x: hidden;
  }
  .options-bottom {
    top: 0rem;
    height: 450px;
  }
  .custom-heading {
    font-size: 1.5rem;
  }
  .form-tainer {
    width: 12rem;
  }
  .info-section {
    grid-template-areas:
      "b1"
      "b2"
      "b3";
  }
}

/**************/
